In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from clustering.rate_beer_loader import RateBeerLoader
import pandas as pd

In [3]:
loader = RateBeerLoader("ratebeer.txt", limit_reviews_per_reviewer=500)

In [4]:
all_reviews = loader.load_rate_beer()

In [5]:
names = []
count_vals = []
percent_of_vals = []
total = loader.all_reviewers.total()
for reviewer_name, count in loader.all_reviewers.items():
    names.append(reviewer_name)
    count_vals.append(count)
    percent_of_vals.append(count * 100 / total)

reviewers = pd.DataFrame({"Name": names, "Counts": count_vals, "Percent": percent_of_vals})
reviewers.sort_values(by="Counts", ascending=False)

               Name  Counts   Percent
3891      LyndaNova     498  0.066465
1256           POLK     497  0.066331
1772   johnadam2002     497  0.066331
321        Muggus69     497  0.066331
130         13mikey     496  0.066198
...             ...     ...       ...
19926  PeterSumborg       1  0.000133
19927          mlee       1  0.000133
19928    idledevils       1  0.000133
19929         Deese       1  0.000133
27904     stevieeee       1  0.000133

[27905 rows x 3 columns]

In [7]:
loader.all_reviewers.most_common(15)

[('fonefan', 16364),
 ('Ungstrup', 15296),
 ('Papsoe', 14170),
 ('yespr', 13486),
 ('oh6gdx', 9994),
 ('kp', 9487),
 ('omhper', 9427),
 ('joergen', 8318),
 ('jcwattsrugger', 8296),
 ('DJMonarch', 8231),
 ('argo0', 8207),
 ('Oakes', 8132),
 ('bu11zeye', 8022),
 ('harrisoni', 7625),
 ('MiP', 7420)]